/* Global */
html {
    --header-height: 50px;
    --sidebar-width: 150px;
    --sidebar-icon-size: 50px;

    box-sizing: border-box;
}
html, body {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: inherit;

    font-family: "Arial";
}
h1, h2, h3, h4 ,h5 {
    /*font-family: "Arial";*/
    font-weight: lighter;
}
h4 {
    font-size: 17px;
}
a {
    color: inherit;
}

/* TODO: Offer no js version, add notification for people to select non js version save their choice in session variable, if adding accounts save their choice permanently  */
/*aside.sidebar > nav.hidden {*/
/*    transition: transform 1s;*/
/*    transform: translateX(calc(calc(var(--sidebar-width) * -1) - var(--sidebar-button-size)));*/
/*}*/

/* Header */
header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    position: absolute;
    top: 0;
    left: calc(var(--sidebar-icon-size) + 20px);
    right: 0;
    height: var(--header-height);
    /*padding-left: var(--sidebar-button-size);*/
    z-index: 50;
}

/* Main */
main {
    padding: 50px 0px 0px 50px;
}
