/* Sidebar */
aside.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    z-index: 100;

    color: white;
    background: #222;
    opacity: 0.95;

    transition: transform 1s;
    transform: translateX(calc(calc(var(--sidebar-width) * -1) + var(--sidebar-icon-size)));
}
aside.sidebar.open {
    transform: translateX(0);
}
aside.sidebar .sidebar-button:hover {
    background: #aaa;
}
aside.sidebar > .sidebar-button.open-close-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--sidebar-icon-size);

    cursor: pointer;
}
aside.sidebar .sidebar-button-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: absolute;
    top: 0;
    left: 0;
    right: var(--sidebar-icon-size);
    height: var(--sidebar-icon-size);
    padding-right: 2px;
}
aside.sidebar .sidebar-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    width: var(--sidebar-icon-size);
    aspect-ratio: 1/1;
}

/* Nav Links */
aside.sidebar nav {
    position: absolute;
    top: var(--sidebar-icon-size);
    left: 0;
    right: 0;
    bottom: 0;
}
aside.sidebar > nav > .nav-item {
    display: flex;

    position: relative;
    width: 100%;
    height: var(--sidebar-icon-size);

    color: white;
}
aside.sidebar > nav > .nav-item.active {
    background: #aaa;
}
aside.sidebar > nav > .nav-item > .nav-item-text {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    right: var(--sidebar-icon-size);
    bottom: 0;
}
aside.sidebar > nav > .nav-item > .nav-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--sidebar-icon-size);
}
